In [1]:
import pandas as pd

In [9]:
df = pd.read_csv(r'D:\whitebit_etl_project\data\white_bit_trades.csv', parse_dates=['timestamp'])

In [10]:
df = df.dropna()
df = df[~df.apply(lambda row: row.astype(str).str.strip().eq("").any(), axis=1)]

In [11]:
df

               timestamp  user_id client_type symbol  side  quantity    price
0    2023-03-17 14:24:00     1001        gold   AAPL   buy      7.67   157.35
1    2023-02-23 07:31:00     1001        gold   AAPL   buy      1.84   156.98
2    2023-02-13 03:29:00     1001        gold    SPY  sell      8.28   417.01
3    2023-02-18 02:41:00     1001        gold   AAPL  sell      1.87   175.42
4    2023-01-30 09:52:00     1001        gold    QQQ  sell      8.46   351.83
..                   ...      ...         ...    ...   ...       ...      ...
795  2023-02-26 00:19:00     3005      bronze   MSFT  sell      2.59   280.34
796  2023-01-29 07:59:00     3005      bronze  GOOGL   buy      7.83  2712.76
797  2023-03-23 13:31:00     3005      bronze    SPY  sell      1.33   400.36
798  2023-03-14 05:59:00     3005      bronze   AAPL  sell      6.12   164.82
799  2023-02-05 06:32:00     3005      bronze   AAPL   buy      7.71   153.82

[790 rows x 7 columns]

In [12]:
df.iloc[290:311]

               timestamp  user_id client_type symbol  side  quantity    price
290  2023-01-23 04:04:00     2001      silver  GOOGL   buy      9.32  2683.69
291  2023-01-22 12:41:00     2001      silver   AAPL   buy      7.31   154.91
292  2023-02-03 19:40:00     2001      silver  GOOGL  sell      7.60  2769.97
295  2023-01-14 19:35:00     2001      silver   AAPL  sell      5.10   160.80
296  2023-01-20 06:06:00     2001      silver   AAPL   buy      7.67   150.08
297  2023-01-16 17:08:00     2001      silver   AAPL  sell      3.02   157.45
298  2023-02-09 11:10:00     2001      silver   AAPL   buy      3.01   165.47
299  2023-03-17 16:50:00     2001      silver   AAPL  sell      1.07   156.02
300  2023-01-02 11:26:00     2001      silver  GOOGL   buy      2.36  2507.17
301  2023-01-08 04:51:00     2001      silver   AAPL  sell      8.64   171.82
302  2023-01-11 19:49:00     2001      silver   MSFT   buy      1.40   296.52
303  2023-02-07 08:54:00     2001      silver   AAPL   buy      6.73   161.83
304  2023-03-16 03:43:00     2001      silver   MSFT  sell      7.31   290.88
305  2023-02-09 15:48:00     2001      silver  GOOGL   buy      2.48  2621.95
306  2023-02-11 05:03:00     2001      silver   MSFT   buy      1.81   308.19
307  2023-02-21 15:26:00     2001      silver   AAPL   buy      9.72   161.89
308  2023-01-29 04:27:00     2001      silver    QQQ   buy      1.85   381.24
309  2023-01-03 02:12:00     2001      silver  GOOGL  sell      4.35  2693.41
310  2023-01-07 05:44:00     2001      silver  GOOGL  sell      8.28  2754.18
311  2023-01-24 09:23:00     2001      silver    QQQ  sell      8.40   358.59
312  2023-03-12 16:21:00     2001      silver   MSFT  sell      8.95   289.83